.ml_auto {
  margin-left: auto;
}

.mr_auto {
  margin-right: auto;
}

.m_auto {
  margin: auto;
}

.d_flex {
  display: flex;
}

.d_block {
  display: block;
}

.flex_column {
  flex-direction: column;
}

.w_100 {
  width: 100%;
}

.h_100 {
  height: 100%;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  display: flex;
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.scrollable {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #2f2f37;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.mt_0 {
  margin-top: 0;
}

.mt_2 {
  margin-top: 8px;
}

.mb_0 {
  margin-bottom: 0;
}

.mb_3 {
  margin-bottom: 16px;
}

.pb_2 {
  padding-bottom: 8px;
}

.pr_2 {
  padding-right: 8px;
}

.p_3 {
  padding: 16px;
}

.pb_3 {
  padding-bottom: 16px;
}

.p_4 {
  padding: 24px;
}

.pb_4 {
  padding-bottom: 24px;
}

.pt_3 {
  padding-top: 16px;
}

.wrapper {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
}

.d_flex_column {
  display: flex;
  flex-direction: column;
}

.page {
  background-color: #F8F8F8;
  padding: 24px;
}

.text_big {
  color: var(--text-primary, #1B1F23);
  font-size: 32px;
  line-height: 32px;
}

.text_bold {
  font-weight: 600;
}

.text_italic {
  font-style: italic;
}

.text_medium {
  color: var(--text-primary, #1B1F23);
  font-size: 24px;
  line-height: 32px;
}

.text_normal {
  color: var(--text-primary, #1B1F23);
  font-size: 20px;
  line-height: 24px;
}

.text_small {
  color: var(--text-primary, #1B1F23);
  font-size: 16px;
  line-height: 24px;
}
